@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 450px;
    height: 360px;
}

.css-hlj6pa-MuiDialogActions-root {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

h2 {
    font-family: "GongGothicLight" !important;
}

.title-text {
    font-family: "GongGothicLight";
    padding: 5px;
    width: 300px;
    height: 33px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    float: left;
    resize: none;
}
.title-text:focus {
    outline: none;
    border-bottom: 2px solid #76baff;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "GongGothicLight";
    width: 80px;
    height: 33px;
    margin-left: 20px;
    text-align: center;
}
select:focus {
    outline: none;
}

.content-text {
    margin-top: 20px;
    border-radius: 5px;
    font-family: "GongGothicLight";
    resize: none;
    width: 400px;
    height: 170px;
    background-color: #eef6ff;
    border: 0;
    font-size: 16px;
    padding: 10px; 
    box-sizing: border-box;
    line-height: 1.3;
}
.content-text:focus {
    outline: none;;
}



/* DelayList CSS */
.react-datepicker__input-container input {
    border: 0;
    font-size: 20px;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 50px;
}
.react-datepicker__input-container input:focus {
    outline: none;
}

.calendar-icon {
    position: relative;
    left: 150px;
    top: 20px;
    z-index: 10;
}