@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#toDoList {
    float: left;
    width: 65%;
    height: 87vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    box-sizing: border-box;
    padding: 3%;
}
#toDoList .clickedDate {
    font-family: "GongGothicMedium";
    font-size: 40px;
}
#toDoList .addList {
    width: 40px;
    height: 40px;
    position: relative;
    top: -6%;
    right: -46%;
    border-radius: 50%;
    font-family: "GongGothicLight";
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    border: 0;
    background-color: #76baff;
    color : white;
}
#toDoList .addList:hover {
    box-shadow: 5px 5px 5px #1087ff inset;
}
#toDoList .addList:active {
    background-color: #1087ff;
}

#list {
    width: 100%;
    height: 70vh;
}

/* 리스트 한 개 */
#aList {
    font-family: "GongGothicLight";
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    text-align: left;
    padding-left: 5%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#aList.checked {
    color: #bbb;
}

#aList .list {
    font-size: 20px;
    line-height: 50px;
}

#aList .list .circle {
    display: inline-block;
}
#aList .list .circle:hover {
    cursor: pointer;
}
#aList .list .circle.high {
    color: #e0656c;
}
#aList .list .circle.little-high {
    color: #ed9258;
}
#aList .list .circle.middle {
    color: #e9d275;
}
#aList .list .circle.little-low {
    color: #96ce5b;
}
#aList .list .circle.low {
    color: #819fcb;
}
#aList.checked .list .circle {
    color: #bbb;
}

#aList .list .title {
    position: absolute;
    left: 10%;
    display: inline-block;
}
#aList .list .content {
    position: absolute;
    left: 50%;
    display: inline-block;
}

#aList #functions {
    position: absolute;
    font-size: 24px;
    right: 23px;
    top: 13px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.9);
    max-height: 30px;
}
#aList #functions i {
    margin-left: 1vw;
}
#aList #functions i:hover {
    cursor: pointer;
    color: #1087ff;
}
#aList:hover #functions {
    opacity: 1;
    visibility: visible;
}
#aList #functions i p {
    color: white;
    font-size: 16px;
    padding: 5px;
    background:rgba(118, 186, 255, 0.8);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
    left: -30%;
    visibility: hidden;
    z-index: 10;
}
#aList #functions i:hover p {
    visibility: visible;
}